<a href="https://colab.research.google.com/github/xtianu/UPC_DAPR_2025/blob/main/S2/Exercise/Exercise_1_DataAnalysis_and_Clustering_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Description

This week, both the theory and laboratory sessions are going to be virtual and asynchronous. It is not needed to do it at the class hours but I strongly recommend that you do so. All you should do is follow the instructions described in this Python Notebook and submit the resulting .ipynb file to the corresponding task in the ATENEA digital Campus https://atenea.upc.edu/ before next **Wednesday, September 26th at 15h**.

Please keep in mind that the main aim of this session is for you to learn, so if you are stuck or have any questions please don't hesitate contacting me at raul.benitez@upc.edu

#Task 1: Graphical Representation of data

a) Watch the following video decribing how to use Python and google colab:

https://www.youtube.com/watch?v=inN8seMm7UI

A Python notebook example using  in the video can be found in the GitHub repository of the course:

https://github.com/xtianu/UPC_DAPR_2025/blob/main/S2/S2.1_Data_Visualization.ipynb

b) Load one of the built-in databases from either seaborn or sklearn libraries (except iris, mpg or titanic). We recommend you to use some Kaggle datasets. You should use the following functions:

https://seaborn.pydata.org/generated/seaborn.load_dataset.html
https://scikit-learn.org/stable/datasets/toy_dataset.html

c) Create 4 different plots using matplotlib and/or seaborn libraries. Add a text cell describing the relevant aspects of the data that can be observed in each graph.

# Task 2: Clustering analysis

a) A Python notebook example using in the video can be found in the GitHub repository of the course:

https://github.com/xtianu/UPC_DAPR_2025/blob/main/S2/S2.2_Clustering%20analysis_PRML.ipynb

b) Load one of the built-in databases from either seaborn or sklearn libraries (except iris, mpg or titanic). Use Kaggle Artantica Penguin's dataset:

https://www.kaggle.com/datasets/parulpandey/palmer-archipelago-antarctica-penguin-data


c) Apply k-means, agglomerative and GMM clustering methods to the Artantica Penguin's database and compare the results

1. Load dataset
2. Remove non-numerical columns and NaNs
3. Visualize numerical data
4. Compare k-means, agglomerative and GMM using Adjusted Rand Index
5. Conclusion

##Â Solution Task2

Load dataset

In [ ]:
import seaborn as sns
df = sns.load_dataset('penguins') # load data
df1 = df.dropna() # remove nans
df1.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

Remove non-numerical columns and NaNs

In [ ]:
df2 = df1.drop(columns=['species', 'island','sex']) # remove non-numerical variables
df2.head()

   bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0            39.1           18.7              181.0       3750.0
1            39.5           17.4              186.0       3800.0
2            40.3           18.0              195.0       3250.0
4            36.7           19.3              193.0       3450.0
5            39.3           20.6              190.0       3650.0